<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
</head>
<body>
 <h2 >Employee Listing</h2>
 <table>
  <thead>
   <tr>
    <th>Id</th>
    <th>Name</th>
   </tr>
  </thead>
  <table id="emp-table">
    <thead>
    <tr>
        <th data-sort-prop="id">Id</th>
        <th data-sort-prop="name">Name</th>
        <th data-sort-prop="dept">Department</th>
        <th data-sort-prop="salary">Salary</th>
    </tr>
    </thead>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.getId()}"></td>
        <td th:text="${employee.getFullName()}"></td>

    </tr>
</table>
 </table>
</body>
</html>